*{
    box-sizing: border-box;
}

.box1{
    width: 550px;
    height: 550px;
    background-color: #FFF;
    border: 1px solid #B4B4B4;
    padding-left: 60px;
}
.image{
    background-image: url(img.png);
    width:  305px;
    height: 226px;
    margin-bottom: 200px;
}
.text{
    color: #808080;
}


